body {
    height: 100vh;
    background-color: black;
    background-image: url("imagens/wallpaper002.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

main {
    margin: auto;
    background-color: white;
    max-width: 400px;
    text-align: justify;
    padding: 10px;
    border-radius: 5px;
    opacity: 0.8;
    text-decoration-color: black;
}


h1 {
    text-align: center;
}

